.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0, 0, 0, .75);
    animation-duration: 1s;
    animation-name: backGroundColor;
}

.modal {
    width: auto;
    height: auto;
    min-height: 200px;
    min-width: 500px;
    position: fixed;
    top: 20vh;
    left: 32.5%;
    z-index: 100;
    overflow-y:scroll ;
    animation-duration: 1s;
    animation-name: slide;
}

@keyframes slide {
  from {
    top: -100vh;
  }

  to {
    top: 30vh;
  }
}
@keyframes backGroundColor {
  from {
    top: -100vh;
  }

  to {
    top: 0;
  }
}

.invisible-scrollbar::-webkit-scrollbar {
  display: none;
}

.exit {
  position: relative;
  left: 0;
  padding: 0 1rem;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  color: #fff;
  background-color: #4f005f;
  transition: padding ease .2s;
}

.exit:hover {
  padding: .2rem 1.2rem;

}


@media only screen and (max-width: 1025px) {
  .modal {
    left: 17%;
  }
}
@media only screen and (max-width: 775px) {
  .exit {
    left: 0;
  }  
  .modal {
    left: 0;
    width: 100%;
  }
}